In [1]:
import pandas as pd

data = {'Apples': [30],
        'Banana': [21]}

df = pd.DataFrame(data)

print(df)

   Apples  Banana
0      30      21

In [3]:
data = {'Apples': [35, 41],
        'Banana': [21, 34]}

index_labels = ['2017 sales', '2018 sales']

df = pd.DataFrame(data, index=index_labels)

print(df)

            Apples  Banana
2017 sales      35      21
2018 sales      41      34

In [4]:
data = {'Flour': '4 cups',
        'Milk': '1 cup',
        'Eggs': '2 large',
        'Spam': '1 can'}

series = pd.Series(data, name='Dinner')

print(series)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [5]:

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [6]:
import pandas as pd
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True