## Exercise :

Create a list of 10 employees
Create tuple of salaries of these 10 employees
Create a tuple of rating of these 10 employees ( 0 - 10 )
Generate a dictionary of employees and their new salaries based on their ratings The update to salaries should be as
a. For rating 0 - 3 no salaries should be updated

b. For rating 3 - 5 a 3% increment to be given

c. For rating 5 - 7 a 5% increment to be given

d. For rating 7 - 9 a 7% increment to be given

e. For rating 9 and above a 7% increment and a bonus of 10% of initial salary to be given

In [1]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
salaries = (10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000)
ratings = (2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3)

In [2]:
dictlist = {}

for emp, sal, rat in zip(employee, salaries, ratings):
    
    if 0.0 <= rat < 3.0 :
        dictlist[emp]=sal
    elif 3.0 <= rat < 5.0 :
        sal += (sal*(3/100))
        dictlist[emp]=sal
    elif 5.0 <= rat < 7.0 :
        sal += (sal*(5/10))
        dictlist[emp]=sal
    elif 7.0 <= rat < 9.0 : 
        sal += (sal*(7/100))
        dictlist[emp]=sal
    elif 9.0 <= rat : 
        sal += ((sal*(7/100)) + (sal*(10/100))) 
        dictlist[emp]=sal
    else:
        print('Invalid Rating')

In [3]:
print(dictlist)

{'John': 10000, 'Mary': 12360.0, 'Krishna': 13390.0, 'Namesh': 21645.0, 'Aastha': 11770.0, 'Jason': 29700.0, 'Kavita': 30000.0, 'Ravi': 24205.0, 'Shruti': 20811.5, 'Shubham': 9360.0}